name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # =============================
      # Install dependencies (FIX libtinfo dll)
      # =============================
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            zip \
            unzip \
            openjdk-17-jdk \
            autoconf \
            libtool \
            pkg-config \
            zlib1g-dev \
            libncurses5 \
            libncurses5-dev \
            libtinfo5 \
            cmake

      # =============================
      # Install Buildozer
      # =============================
      - name: Install Buildozer
        run: |
          python3 -m pip install --upgrade pip
          pip install buildozer cython

      # =============================
      # Build APK
      # =============================
      - name: Build APK
        run: |
          buildozer android debug

      # =============================
      # Upload APK
      # =============================
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: RekapRuijiePro-APK
          path: bin/*.apk
